
name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm i --legacy-peer-deps
    - run: npm run build

    - name: Deploy to GitHub Pages
      run: npm run deploy --base-href=/task-app-frontend/
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
